body{
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
    font-size: 20px;
    cursor: pointer !important;
}

#container{
    width: 100%;
    align: center;
}

#header{
    width: 1200px;
    margin-left: 10px;

}

#logo_img{
    float: left;
}

#logo_name{
    font-family: 'Rubik Mono One', monospace;
    font-size: 60px;
    padding-top: 45px;
}


#menu{
    width: 1000px;
    background-color: #eeeeee;
    margin: auto;
    font-family: 'Rubik Mono One', monospace;
}   

#menu_tile{
    width: 280px;
    /*background-color: #BBD5E4; */
    background: rgb(187,213,228);
    background: linear-gradient(243deg, rgba(187,213,228,1) 0%, rgba(153,179,194,1) 100%);
    float:left;
    padding: auto;
    text-align: center;
    padding: 14px;
    margin: 10px;
    font-size: 11px;
    border-radius: 20px;
    border: 2px #001736 solid;

}

#menu_tile:hover{
    background: rgb(204,230,229);
    background: linear-gradient(243deg, rgba(204,230,229,1) 0%, rgba(170,196,211,1) 100%);
	color: #222;
}


#content{
    width: 1000px;
    min-height: 500px;
    align: center;
    margin: auto;
    padding-top: 30px;
}

#footer{
    width: 100%;
    background: #001736;
    color: #AAC4D3;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tab{
    margin-left: 30px;
}